# Node.js
node_modules/
.npm
.env
.env.local
.env.development
.env.test
.env.production

# React
build/
public/build

# Logs
tmp/
logs/
*.log

# IDE
tmp/
*.swp
*.swo
.DS_Store
.idea/
.vscode/

# Database
data/
*.sqlite

# Coverage
coverage/
*.lcov

# OS
tmp/
*.tmp